{% load leaflet_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      {% leaflet_js %}
      {% leaflet_css %}
      <title>Trip@Us</title>
      <style type="text/css">
        #gis {width: 1000px; height: 650px;}
      </style>
      <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
      <script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>   
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href=""><h2>Trip@Us</h2></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href=""><h4><span style="font-weight: normal;">Book My Hotel</span></h4><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#"><h4><span style="font-weight: normal;">Plan My Trip</span></h4><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link disabled" href="http://127.0.0.1:8000/"><h4><span style="font-weight: normal;">Explore Telebot</span></h4><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active" style="margin-left: 900px;">
                <a class="nav-link disabled" href="{% url 'logout' %}"><h4><span style="font-weight: normal;">Logout</span></h4><span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-primary" type="submit">Search</button>
          </form>
        </div>
    </nav>

    {% block content %}

    {% endblock %}
</body>
</html>