{% extends 'MainBase.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
{% load leaflet_tags %}

<script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}"></script>

<div>
    <h2 class="h2" style="text-align: center; margin-top: 40px;">Awesome! We have found you a perfect hotel!</h2>
</div>

<div>
    <ul class="list-group" style="width: 60%; margin-top: 40px; margin-left: 80px;">
        {% for Hotel_name, Hotel_img in Hotel %}
    <li class="list-group-item" style="font-size: 25px;">
        {{ Hotel_name }}   
    </li>
    <div class="container" style="margin-top: 20px; margin-bottom: 20px; margin-left: 125px;">
        <img src={{Hotel_img}} style="height: 500px; width: 750px;">
    </div>
    {% endfor %}
    </ul>
</div>

<script type="text/javascript">

    $.ajax({ 
            type: 'GET', 
            url: 'location', 
            //data: { get_param: 'value' }, 
            dataType: 'json',
            success: function (data, status) { 
                console.log(data);
                geojson = data
            }
        });

    var greenIcon = new L.Icon({
        iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
        });


    function our_layers(map,options){

        var points = new L.geoJson.ajax("{% url 'location' %}",{
            onEachFeature: function(feature,layer){
                layer.bindPopup(feature.properties.name.toString());
            }

        });

        points.addTo(map);

    };

</script>

<div style="margin-top: 45px; align-content: center; margin-left: 205px; margin-bottom: 50px;">
    {% leaflet_map "gis" callback="window.our_layers" %}
</div>

<div>
    <h4 class="h4" style="text-align: center; margin-top: 20px; font-style: italic; color: blue;"> Now all that is left is planning your itineary! Hit the button below and a curated itineary will be in sent directly to your email :)</h4>
</div>

<div>
    <button class="btn btn-primary" style="margin-top: 20px; margin-bottom: 30px; font-size: large; text-align: center; margin-left: 800px;">
        <a href="{% url 'send_command' %}" style="color: white;">Plan My Trip!</a>
    </button>    
</div>


{% endblock %}
